@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lato:wght@400;900&family=Poppins:wght@200;400;600&display=swap');

body {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}


/* NAVBAR FULLSCREEN OVERLAY */

/* The following code was 
    based upon:
    "https://stackoverflow.com/questions/57429572/how-to-style-fullscreen-menu-under-default-bootstrap-toggler"
    Minor adjustments to the code were made. */

.navbar .navbar-toggler {
    z-index: 5;
  }
  
@media (max-width: 991.98px) {
    .navbar .navbar-collapse {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      transition: 0.35s ease;

      display: flex;
      flex-direction: column;

      align-content: center;
      text-align: center !important;
      
      overflow-y: scroll;
      overflow-x: hidden
    }

    .navbar .navbar-collapse.collapse {
      display: flex;
      opacity: 0;
      pointer-events: none
    }

    .navbar .navbar-collapse.collapsing[style*="height"] {
      opacity: 1;
      height: 100vh !important
    }

    .navbar .navbar-collapse.collapsing {
      opacity: 0;
      height: 100vh
    }

    .navbar .navbar-collapse.collapse.show {
      opacity: 1;
      pointer-events: auto
    }

    .navbar .navbar-collapse .navbar-nav {
      margin-right: initial !important;
      margin-top: auto;
      margin-bottom: auto
    }

    .navbar-nav {
        margin-left: initial !important; 
    }
    
}
  
/* NAVBAR FULLSCREEN OVERLAY */


/* HOMEPAGE */


.hero-container {

    height: 100vh;
    height: 100%;       /* A fallback for browsers that do not support vh */

    /* The following code snippet 
        was taken from:
        "https://css-tricks.com/perfect-full-page-background-image/" */

    background: url("../img/BW_DSC_0662.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.jumbotron {
    background-color: #ffffffe8;
    font-weight: bold;
    text-align: center;

    padding: 25px;

}

/* This code snippet 
    was based upon:
    "https://stackoverflow.com/questions/22196587/how-to-vertically-center-a-container-in-bootstrap" */

.vertical-center {
    min-height: 95%;
    min-height: 95vh;

    display: flex;
    align-items: center;
}


/* HOMEPAGE */
